In [ ]:
!pip install fuzzywuzzy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.9/dist-packages (0.18.0)

In [ ]:
import pandas as pd
from fuzzywuzzy import fuzz

# Read the three xlsx files
file1 = pd.read_excel('/content/Footystats.xlsx')
file2 = pd.read_excel('/content/Personal.xlsx')
file3 = pd.read_excel('/content/Transfer Market.xlsx')

# Define the fuzzy match function

/usr/local/lib/python3.9/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [ ]:
file1.head(1)

,Name,Year,birthday,birthday_GMT,league,position,Club,minutes_played_overall,minutes_played_home,minutes_played_away,...,conceded_per_90_overall,min_per_conceded_overall,min_per_match,min_per_card_overall,min_per_assist_overall,cards_per_90_overall,rank_in_league_top_attackers,rank_in_league_top_midfielders,rank_in_league_top_defenders,rank_in_club_top_scorer
0,Aaron Hughes,2013,310867200,1979-11-08 00:00:00,Premier League,Defender,Fulham,2114,1034,1080,...,1.66,54,88,2114,0,0.04,322,310,136,19

In [ ]:
file3.head(1)

               Name  Year  Age        Club  Market Value       Date
0  Aleksandar Tonev  2010   20  CSKA Sofia        900000 2010-12-22

In [ ]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [ ]:
#get list of unique teams existing in file1
lst_teams = list(np.unique(np.array(file1['Year'])))
#define arbitrary threshold
thres = 70
#for each team match similar texts
for team in lst_teams:
    #iterration on dataframe filtered by team
    for index, row in file1.loc[file1['Year']==team].iterrows():
        #get list of players in this team
        lst_player_per_team = list(np.array(file3.loc[file3['Year']==team]['Name']))
        #use of fuzzywuzzy to make text matching
        output_ratio = process.extract(row['Name'], lst_player_per_team, scorer=fuzz.token_sort_ratio)
        #check if there is players from file3 in this team
        if output_ratio !=[]:
            #put arbitrary threshold to get most similar text
            if output_ratio[0][1]>thres:
                file1.loc[index, 'Market Value'] = file3.loc[(file3['Year']==team)&(file3['Name']==output_ratio[0][0])]['Market Value'].values[0]
file1 = file1.fillna('XX')

In [ ]:
file1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 47 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Name                            6234 non-null   object
 1   Year                            6234 non-null   int64
 2   birthday                        6234 non-null   int64
 3   birthday_GMT                    6234 non-null   object
 4   league                          6234 non-null   object
 5   position                        6234 non-null   object
 6   Club                            6234 non-null   object
 7   minutes_played_overall          6234 non-null   int64
 8   minutes_played_home             6234 non-null   int64
 9   minutes_played_away             6234 non-null   int64
 10  nationality                     6234 non-null   object
 11  appearances_overall             6234 non-null   int64
 12  appearances_home                6234 non-null   int64
 13  appearances_away                6234 non-null   int64
 14  goals_overall                   6234 non-null   int64
 15  goals_home                      6234 non-null   int64
 16  goals_away                      6234 non-null   int64
 17  assists_overall                 6234 non-null   int64
 18  assists_home                    6234 non-null   int64
 19  assists_away                    6234 non-null   int64
 20  penalty_goals                   6234 non-null   int64
 21  penalty_misses                  6234 non-null   int64
 22  clean_sheets_overall            6234 non-null   int64
 23  clean_sheets_home               6234 non-null   int64
 24  clean_sheets_away               6234 non-null   int64
 25  conceded_overall                6234 non-null   int64
 26  conceded_home                   6234 non-null   int64
 27  conceded_away                   6234 non-null   int64
 28  yellow_cards_overall            6234 non-null   int64
 29  red_cards_overall               6234 non-null   int64
 30  goals_involved_per_90_overall   6234 non-null   float64
 31  assists_per_90_overall          6234 non-null   float64
 32  goals_per_90_overall            6234 non-null   float64
 33  goals_per_90_home               6234 non-null   float64
 34  goals_per_90_away               6234 non-null   float64
 35  min_per_goal_overall            6234 non-null   int64
 36  conceded_per_90_overall         6234 non-null   float64
 37  min_per_conceded_overall        6234 non-null   int64
 38  min_per_match                   6234 non-null   int64
 39  min_per_card_overall            6234 non-null   int64
 40  min_per_assist_overall          6234 non-null   int64
 41  cards_per_90_overall            6234 non-null   float64
 42  rank_in_league_top_attackers    6234 non-null   int64
 43  rank_in_league_top_midfielders  6234 non-null   int64
 44  rank_in_league_top_defenders    6234 non-null   int64
 45  rank_in_club_top_scorer         6234 non-null   int64
 46  Market Value                    6234 non-null   object
dtypes: float64(7), int64(33), object(7)
memory usage: 2.2+ MB

In [ ]:
file1.to_csv('matched_data.csv', index=False)

In [ ]:
df11 = file1.drop(file1[file1["Market Value"]=="XX"].index)

In [ ]:
df11.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4416 entries, 0 to 6231
Data columns (total 47 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Name                            4416 non-null   object
 1   Year                            4416 non-null   int64
 2   birthday                        4416 non-null   int64
 3   birthday_GMT                    4416 non-null   object
 4   league                          4416 non-null   object
 5   position                        4416 non-null   object
 6   Club                            4416 non-null   object
 7   minutes_played_overall          4416 non-null   int64
 8   minutes_played_home             4416 non-null   int64
 9   minutes_played_away             4416 non-null   int64
 10  nationality                     4416 non-null   object
 11  appearances_overall             4416 non-null   int64
 12  appearances_home                4416 non-null   int64
 13  appearances_away                4416 non-null   int64
 14  goals_overall                   4416 non-null   int64
 15  goals_home                      4416 non-null   int64
 16  goals_away                      4416 non-null   int64
 17  assists_overall                 4416 non-null   int64
 18  assists_home                    4416 non-null   int64
 19  assists_away                    4416 non-null   int64
 20  penalty_goals                   4416 non-null   int64
 21  penalty_misses                  4416 non-null   int64
 22  clean_sheets_overall            4416 non-null   int64
 23  clean_sheets_home               4416 non-null   int64
 24  clean_sheets_away               4416 non-null   int64
 25  conceded_overall                4416 non-null   int64
 26  conceded_home                   4416 non-null   int64
 27  conceded_away                   4416 non-null   int64
 28  yellow_cards_overall            4416 non-null   int64
 29  red_cards_overall               4416 non-null   int64
 30  goals_involved_per_90_overall   4416 non-null   float64
 31  assists_per_90_overall          4416 non-null   float64
 32  goals_per_90_overall            4416 non-null   float64
 33  goals_per_90_home               4416 non-null   float64
 34  goals_per_90_away               4416 non-null   float64
 35  min_per_goal_overall            4416 non-null   int64
 36  conceded_per_90_overall         4416 non-null   float64
 37  min_per_conceded_overall        4416 non-null   int64
 38  min_per_match                   4416 non-null   int64
 39  min_per_card_overall            4416 non-null   int64
 40  min_per_assist_overall          4416 non-null   int64
 41  cards_per_90_overall            4416 non-null   float64
 42  rank_in_league_top_attackers    4416 non-null   int64
 43  rank_in_league_top_midfielders  4416 non-null   int64
 44  rank_in_league_top_defenders    4416 non-null   int64
 45  rank_in_club_top_scorer         4416 non-null   int64
 46  Market Value                    4416 non-null   object
dtypes: float64(7), int64(33), object(7)
memory usage: 1.6+ MB